{{#each this}}
<li>
    <h2 class="countryName">{{name}}</h2>
    <div class="flex">
        <div class="mainContainer">
            <p class="info">Capital: {{capital}}</p>
            <p class="info">Population: {{population}}</p>
            <ul class="languages">
                <h3 class="info">Languages:</h3>
                {{#each this.languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <div imgWrap>
            <img src="{{flag}}" alt={{name}} class="countryFlag" width="300">
        </div>
    </div>
</li>
{{/each}}